.jumbotron {
	margin-bottom: 0px;
}


body, html, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map-canvas {
	width: 100%;
}

#map-canvas img {
	width: 100%;
}

#button {
	margin-top: 10px;
}